[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    background: white;

}

.select__header {
    padding-top: 33px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
