.App {
    /*--header_height: 60px;*/
    min-width: 1280px;
    min-height: 480px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

.hw {
    /*position: absolute;*/
    padding-top: 144px;
    min-width:  1280px;
    /*height: 336px;*/
}

.hwTitle {
    /* Hometask № 1 */
    position: absolute;
    left: 70px;
    top: 107px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.hw::before {
    content: '';
    background-color: #D9D9D9;
    height: 1px;
    display: block;
}