.select {
    width: 180px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.select:focus {

}

.option {
    /*cursor: pointer;*/
    /*color:red;*/
}

.option_active {
    /*background: #0066CC;*/
    cursor: pointer;
}

.option:hover {
    background: white;
}
