.select {
    margin-bottom: 244px;
    padding: 9px;
    /*width: 180px;*/
    /*height: 24px;*/
    width: 171px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.select:focus {

}

.option {
}

.option_active {

}

.option:hover {
}

/*background: #0066CC;*/
/*background: #212A34;*/
